<li>
	{{name}}
	{{#if isDevoured}}
	<button class="devour" data-id="{{id}}" data-newDevour="{{isDevoured}}">
		DEVOUR BURGER!{{else}}{{/if}}
	</button>
	{{#unless isDevoured}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{/unless}}
</li>