<li>
	{{name}}
	<button class="change-devour" data-id="{{id}}" data-newDevour="{{isDevoured}}">
		{{#if isDevoured}}DEVOUR BURGER!{{else}}EATEN!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>