<li>
	{{name}}
	<button class="devour" data-id="{{id}}" data-newDevour="{{isDevoured}}">
		{{#if isDevoured}}DEVOUR BURGER!{{else}}ALL GONE!{{/if}}
	</button>
	{{#unless isDevoured}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{/unless}}
</li>